* {
box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial" , sans-serif;
  font-size: 18px;
  line-height:1.5 ;
  color: #444;
  background-color: white;
}

*:focus{
outline:2px dotted #DE2E54;
outline-offset: 2px;
}


/* Container */
.container{
width: 100%;
max-width: 1160px;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
}

/* Site header */

.site-header{
padding-top: 24px;
padding-bottom: 24px;
}

.site-header-container{
display: flex;
justify-content: space-between;
align-items: center;
}


/* Site-logo */
.site-logo{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}

.site-logo-site-footer{
  color: white;
}

.site-logo-site-footer:active{
  color: white;
}

.site-logo:hover{
  color: #DE2E54;
}

.site-logo:active{
  opacity: 0.6;
}

.site-logo-img{
  margin-right: 16px;
  border-radius: 50%;
}


/* Sitenav */

.sitenav{
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.sitenav-list{
display: flex;
align-items: center;
padding: 0;
margin: 0;
list-style: none;
}

.sitenav-item:not(:last-child){
margin-right: 32px;
}

.sitenav-link{
  display: block;
  text-decoration: none;
  color: #222;
}

.sitenav-link:hover{
  color: #DE2E54;
}

.sitenav-link:active{
  opacity: 0.6;
}

.sitenav-site-footer .sitenav-link{
color: white;
}

.sitenav-site-footer .sitenav-link:hover{
  color: #DE2E54;
}

.sitenav-site-footer .sitenav-link:active{
  color: white;
}
/* Main link */

.main-link{
  display: inline-block;
  border-radius: 8px;
  padding: 10px 22px;
  border: 2px solid #DE2E54;
  text-decoration: none;
  background-color: #DE2E54;
  color: white;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

.main-link:hover{
  border-color: #DE2E54;
  background-color: white;
  color: #DE2E54;
}

.main-link:active{
  background-color: #DE2E54;
  color: white;
  opacity: 0.6;
}

.main-link-solid:hover {
  border-color: transparent;
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
}

.main-link-solid:active {
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

.main-link-outline{
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.main-link-outline:hover{
  border-color: transparent;
  background-color: #DE2E54;
  color: #fff;
}

/* Hero */

.hero{
  background-color: #0EB4C1;
  color: white;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-content{
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-heading {
 margin-top: 0;
 margin-bottom: 16px;
 font-family: "Open Sans", "Arial", sans-serif;
 font-size: 36px;
 line-height: 1.2;
}

.hero-text {
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
}

.hero-img {
  align-self: flex-end;
}


/* Index-services */

.index-services{
padding-top: 120px;
padding-bottom: 120px;
}

.index-services-heading {
  margin-top: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  color: black;
  margin-bottom: 56px;
}

.index-services-list {
  width: 864px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  list-style: none;
}

.index-services-item:not(:last-child) {
margin-bottom: 80px;
}

.index-service{
  display: flex;
  align-items: center;
}

.index-service-img{
  width: 200px;
  height: 200px;
  margin-right: 64px;
  border-radius: 24px;
  object-fit: cover;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}

.index-service-content{
  width: 600px;
}

.index-service-title{
  margin-top: 0;
  margin-bottom: 24px;
  color: #222;
}

.index-service-description{
  margin: 0;
}

.index-services-actions{
  display: flex;
  justify-content: center;
}


/* CTA */

.cta{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0EB4C1;
  color: #fff;
}

.cta-heading{
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.2;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
}

.cta-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-links-item:not(:last-child) {
  margin-right: 40px
}

/* Site footer */


.site-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: white;
}

.site-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}